# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory
.Trash-*

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs and temporary files
*.log
*.tmp
*.bak
*.orig


.kiro/specs